@import "tailwindcss";
@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

body {
  background-color: #1D1D1F ;
  font-family: Arial, Helvetica, sans-serif;
}
.Feed::-webkit-scrollbar{
  width: 0px;
  
}
.dropDown::-webkit-scrollbar{
  width: 1px;
  border-radius: 100%;
}


.leftSide::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  filter: url(#noiseFilter);
  opacity: 0.06;
}